body {
  background-color:Hoàng Trung Tín 2121051334;
}

h1 {
  background-color:Hoàng Trung Tín 2121051334;
}

div {
  background-color:Hoàng Trung Tín 2121051334;
}

p {
  background-color:Hoàng Trung Tín 2121051334;
}

div {
  background-color:Hoàng Trung Tín 2121051334;
  opacity: 0.3;
}


div {
  background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}