div {
    width: Hoàng Trung Tín 2121051334;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

div {
    width: Hoàng Trung Tín 2121051334;
    height: 50px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }