body {
    background-color: #fc9; /* same as #ffcc99 :Hoàng Trung Tín 2121051334*/
  }
  
  h1 {
    color: #f0f; /* same as #ff00ff:Hoàng Trung Tín 2121051334 */
  }
  
  p {
    color: #b58; /* same as #bb5588 :Hoàng Trung Tín 2121051334*/
}