div {
  height: 200px;
  width: 50%;
  background-color:Hoàng Trung Tín 2121051334;
}


div {
  height: 100px;
  width: 500px;
  background-color:Hoàng Trung Tín 2121051334;
}

div {
    max-width: 500px;
    height: 100px;
    background-color:Hoàng Trung Tín 2121051334;
  }
  
  