div {
    width: 200px Hoàng Trung Tín;
    height: 65px 2121051334;
    background-color: coral;
    overflow: visible;
}

div {
  overflow:Hoàng Trung Tín 2121051334;
}

div {
  overflow:Hoàng Trung Tín 2121051334;
}

div {
  overflow-x: hidden; /*:Hoàng Trung Tín 2121051334 Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}


