body {
  color:Hoàng Trung Tín 2121051334;
}

h1 {
  color:Hoàng Trung Tín 2121051334;
}

body {
  background-color:Hoàng Trung Tín 2121051334;
  color: blue;
}

h1 {
  background-color:Hoàng Trung Tín 2121051334;
  color: white;
}

div {
  background-color:Hoàng Trung Tín 2121051334;
  color: white;
}
