<form asp-action="Login">
    <input type="text" name="Email" placeholder="Nhap imail">
    <input type="password" name="PassWord" placeholder="Nhap mat khau" >
    <input type="submit" value="Login">
</form>